$primary: #0074d9;
$danger: #ef394e;
$dark: #434343;
$info: #17a2b8;
$success:#17a2b8;
$light:#eee;
$white:#fff;
$black:#000;
$gray:#888;


$c-orange: #f59e0b;
$c-green: #22e55e;
$c-blue:#0075ff;



$bg-orange: rgb(245 158 11 / 20%);
$bg-blue: rgb(0 117 255 / 20%);
$bg-green: rgb(34 197 94 / 20%);


$bg-color:#f1f5f9;

$font-size-lg:14px;
$font-size-sm:12px;


$transition-delay:.3s;

$icon-lg:17px;
$icon-md:15px;
$icon-sm:12px;

$font-bold:700;
$font-normal:400;



$box-shadow: 0 0 10px #ddd;
$border-radius:10px;

$padding : 1.6rem;