<div class="latest-post-container bg-white p-3 rad-10">
    <h1>Latest Post</h1>
    <div class="author-info d-flex border-bottom">
        <img src="assets/imgs/avatar.png" alt="">
        <div class="d-block">
            <h3>Saeed ALmoued</h3>
            <h4>About 3 Hours Ago</h4>
        </div>
    </div>
    <p class="border-bottom py-3">You can fool all of the people some of the time, and some of the people all of the time, but you can't fool all of the people all of the time. </p>
    <div class="post-details d-flex">
        <i class="fas fa-heart text-danger"><span>1.8K</span></i>
        <i class="fas fa-comments right-center c-blue"><span>500</span></i>
    </div>
</div>