<div class="Social-Media-Stats-container p-3 bg-white rad-10">
    <h1>Social Media Stats</h1>
    <div class="social-brand d-flex bg-blue mt-3">
        <div class="logo">
            <i class="fab fa-facebook"></i>
        </div>
        <h4>90k Followers</h4>
        <button class="mybtn btn-blue right-center">Follow</button>
    </div>
    <div class="social-brand d-flex bg-orange mt-3">
        <div class="logo bg-orange">
            <i class="fab fa-instagram"></i>
        </div>
        <h4 class="c-orange">90k Followers</h4>
        <button class="mybtn btn-orange right-center">Follow</button>
    </div>
    <div class="social-brand d-flex bg-blue mt-3">
        <div class="logo">
            <i class="fab fa-facebook"></i>
        </div>
        <h4>90k Followers</h4>
        <button class="mybtn btn-blue right-center">Follow</button>
    </div>
    <div class="social-brand d-flex bg-orange mt-3">
        <div class="logo bg-orange">
            <i class="fab fa-instagram"></i>
        </div>
        <h4 class="c-orange">90k Followers</h4>
        <button class="mybtn btn-orange right-center">Follow</button>
    </div>
</div>