@import '../../../assets/scss/variable.scss';
.latest-tasks-container{
    ul{
        del{
            opacity: .5;
        }
        li{
            padding: .75rem 0;
            h3{
                font-weight: $font-bold;
            }
            &:last-child{
                border-bottom: none !important;
            }

            button{
                border: none;
                outline: none;
                background-color: transparent;
            }

        }
    }
}