<div class="latest-tasks-container bg-white rad-10 p-3">
    <h1>Latest Tasks</h1>
    <ul>
        <li class="d-flex border-bottom">
            <div class="desc d-block align-center">
                <h3>Record One New Video</h3>
                <h4>Record Python Create Exe Project</h4>
            </div>
            <button type="button" class="action right-center">
                <i class="far fa-trash-alt"></i>
            </button>
        </li>
        <li class="d-flex border-bottom">
            <div class="desc d-block align-center">
                <h3>Record One New Video</h3>
                <h4>Record Python Create Exe Project</h4>
            </div>
            <button type="button" class="action right-center">
                <i class="far fa-trash-alt"></i>
            </button>
        </li>
        <li class="d-flex border-bottom">
            <div class="desc d-block align-center">
                <h3>Record One New Video</h3>
                <h4>Record Python Create Exe Project</h4>
            </div>
            <button type="button" class="action right-center">
                <i class="far fa-trash-alt"></i>
            </button>
        </li>
        <del>
            <li class="d-flex border-bottom">
                <div class="desc d-block align-center">
                    <h3>Record One New Video</h3>
                    <h4>Record Python Create Exe Project</h4>
                </div>
                <div class="action right-center">
                    <i class="far fa-trash-alt"></i>
                </div>
            </li>
        </del>

        <li class="d-flex border-bottom disabled" >
            <div class="desc d-block align-center">
                <h3>Record One New Video</h3>
                <h4>Record Python Create Exe Project</h4>
            </div>
            <button type="button" class="action right-center">
                <i class="far fa-trash-alt"></i>
            </button>
        </li>
    </ul>
</div>