<div class="site-control-container bg-white p-3 rad-10">
    <h1>Site Control</h1>
    <h2>Control The Website If There Is Maintenance</h2>
    <div class="website-control d-flex my-3">
        <div class="d-block">
            <h3>Website Control</h3>
            <h4>Open/Close Website And Type The Reason</h4>
        </div>
        <div class="toggle-btn right-center">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="toggleCheck()" checked>
                <i class="fas fa-check true-mark" [ngClass]="{'d-block': checked == true}"></i>
                <i class="fas fa-times wrong-mark " [ngClass]="{'d-block': checked == false}"></i>
              </div>
        </div>
    </div>

    <textarea type="text" placeholder="Close Message Content"></textarea>
</div>