@import '../../../assets/scss/variable.scss';
.site-control-container{
  position: relative;
  width: 100%;
    .website-control{
        gap: 3rem;
        align-items: center;
    }
    textarea{
        resize: none;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 100%;
        min-height: 150px;
        padding: .75rem;
      }
}