<div class="profile-main-card-container p-3 rad-10 bg-white">
    <div class="main-box">
        <div class="img-box">
            <img src="../../../assets/imgs/avatar.png" alt="">
            <h3 class="name">Saeed Almoued</h3>
            <h4>Level 20</h4>
            <div class="myprogress"></div>
            <div class="d-flex justify-content-center">
                <i class="fas fa-star c-orange"></i>
                <i class="fas fa-star c-orange"></i>
                <i class="fas fa-star c-orange"></i>
                <i class="fas fa-star c-orange"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>550 Rating</span>
        </div>
        <ul class="w-full">
            <li class="general-info sec border-bottom">
                <h2>General Info</h2>
                <div class="d-flex justify-content-between info my-2">
                    <h4 >Full Name <span>Saeed Almawed</span></h4>
                    <h4 class="justify-content-center">Gender <span>Male</span></h4>
                    <h4 class="justify-content-end">Country<span>Palestine</span></h4>
                </div>
                <div>
                    <label>
                      <input class="toggle-checkbox" type="checkbox" checked />
                      <div class="toggle-switch"></div>
                    </label>
                </div>

            </li>
            <li class="general-info sec border-bottom">
                <h2>Personal Information</h2>
                <div class="d-flex justify-content-between info my-2">
                    <h4 >Email: <span>saeed.moued@gmail.com</span></h4>
                    <h4 class="justify-content-center">Phone: <span>+964 751 842 9146</span></h4>
                    <h4 class="justify-content-end">Date Of Birth:<span>3/6/1990</span></h4>
                </div>
                <div class="fs-14">
                    <label>
                      <input class="toggle-checkbox" type="checkbox" checked />
                      <div class="toggle-switch"></div>
                    </label>
                </div>

            </li>
            <li class="general-info sec border-bottom">
                <h2>Job Information</h2>
                <div class="d-flex justify-content-between info my-2">
                    <h4 >Title:<span>Full Stack Developer</span></h4>
                    <h4 class="justify-content-center">
                        Programming Language:<span>Java - Spring Boot - SQL - JS - Angular</span></h4>
                </div>
                <div class="fs-14">
                    <label>
                      <input class="toggle-checkbox" type="checkbox" checked />
                      <div class="toggle-switch"></div>
                    </label>
                </div>
            </li>
            <li class="general-info sec ">
                <h2>Billing Information</h2>
                <div class="d-flex justify-content-between info  my-2 ">
                    <h4 >Payment Method:<span> Paypal</span></h4>
                    <h4 class="justify-content-center">
                        Email:<span>email@website.com</span></h4>
                    <h4 class="justify-content-end">
                        Subscription:<span> Monthly</span></h4>
                </div>
                <div class="fs-14">
                    <label>
                      <input class="toggle-checkbox" type="checkbox" checked />
                      <div class="toggle-switch"></div>
                    </label>
                </div>
            </li>
        </ul>

    </div>
</div>