<div class="backup-manager-container p-3 rad-10 bg-white">
    <h1>Backup Manager</h1>
    <h2>Control Backup Time And Location</h2>
    <div class="border-bottom">
            <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Daily
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Weekly
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
            <label class="form-check-label" for="flexRadioDefault3">
                Monthly
            </label>
          </div>
    </div>


      <div class="servers d-grid mt-3">
        <div class="btm-box">
            <input type="radio" id="server-one" name="servers">
            <div class="box" for="server-one">
                <i class="fas fa-equals"></i>
                <h3>Megaman </h3>
            </div>
        </div>
        <div class="btm-box">
            <input type="radio" id="server-tow" name="servers">
            <div class="box" for="server-tow">
                <i class="fas fa-equals"></i>
                <h3>Zero</h3>
            </div>
        </div>
        <div class="btm-box">
            <input type="radio" id="server-three" name="servers">
            <div class="box" for="server-three">
                <i class="fas fa-equals"></i>
                <h3>Sigma</h3>
            </div>
        </div>

      </div>
</div>