<div class="tickits-container p-3 bg-white rad-10">
    <h1>Tickets Statistics</h1>
    <h2>Everything About Support Tickets</h2>
    <div class="tickits-box">
        <div class="total rad-10 border-thin w-full">
            <i class="fas fa-list c-orange"></i>
            <span>2500</span>
            <h2>Total</h2>
        </div>
        <div class="total rad-10 border-thin w-full">
            <i class="fas fa-spinner c-blue"></i>
            <span>500</span>
            <h2>Pending </h2>
        </div>
        <div class="total rad-10 border-thin w-full">
            <i class="far fa-check-circle c-green"></i>
            <span>1900</span>
            <h2>Closed</h2>
        </div>
        <div class="total rad-10 border-thin w-full">
            <i class="far fa-times-circle text-danger"></i>
            <span>100</span>
            <h2>Deleted</h2>
        </div>
    </div>
</div>