@import '../../../assets/scss/variable.scss';

.tickits-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
    padding: 10px;
    @media screen  and (max-width:768px){
            grid-template-columns: 1fr;
    }
    .total{
        text-align: center;
        padding: 1rem;
        i,span,h2{
            padding: 5px;
            font-size: 22px;
            width: 100%;
        }
        span{
            font-weight: $font-bold;
        }
    }
}