<div class="social-info-container p-3 rad-10 bg-white">
    <h1>Social Info</h1>
    <h2>Social Media Information</h2>
    <div class="form-group">
        <div class="input-group flex-nowrap">
            <i class="fab fa-twitter input-group-text" id="addon-wrapping"></i>
            <input type="text" class="form-control" placeholder="Twitter Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <i class="fab fa-facebook input-group-text" id="addon-wrapping"></i>
            <input type="text" class="form-control" placeholder="Facebook Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <i class="fab fa-youtube input-group-text" id="addon-wrapping"></i>
            <input type="text" class="form-control" placeholder="Gmail Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <i class="fab fa-linkedin input-group-text" id="addon-wrapping"></i>
            <input type="text" class="form-control" placeholder="Gmail Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>

    </div>
</div>