<div class="latest-activities-container bg-white rad-10 p-3 mt-3">
    <h1>Latest Activities</h1>
    <h4>Latest Activities Done By The User</h4>
    <ul>
        <li>
            <img src="./assets/imgs/activity-01.png" alt="">
            <div class="info">
                <h3>Store</h3>
                <h4>Bought The Mastering Python Course</h4>
            </div>
            <div class="date">
                <h3>18:10</h3>
                <h4>Yesterday</h4>
            </div>
        </li>
        <li>
            <img src="./assets/imgs/activity-02.png" alt="">
            <div class="info">
                <h3>Academy</h3>
                <h4>Got The PHP Certificate</h4>
            </div>
            <div class="date">
                <h3>16:05</h3>
                <h4>Yesterday</h4>
            </div>
        </li>
        <li>
            <img src="./assets/imgs/activity-03.png" alt="">
            <div class="info">
                <h3>Badges</h3>
                <h4>Unlocked The 10 Skills Badge</h4>
            </div>
            <div class="date">
                <h3>18:05</h3>
                <h4>Yesterday</h4>
            </div>
        </li>
        <li>
            <img src="./assets/imgs/activity-01.png" alt="">
            <div class="info">
                <h3>Store</h3>
                <h4>Bought The Typescript Course</h4>
            </div>
            <div class="date">
                <h3>12:05</h3>
                <h4>Yesterday</h4>
            </div>
        </li>
    </ul>
</div>