<div class="welcome rad-10 bg-white">
    <div class="first-row d-flex p-3">
        <div class="text">
            <h1>Welcome</h1>
            <h2>Saeed</h2>
        </div>
        <img src="../../../assets/imgs/welcome.png" alt="">
    </div>
    <div class="profile-img ">
        <img src="../../../assets/imgs/avatar.png" alt="">
    </div>
    <div class="welcome-info">
        <div class="sec-1 sec">
            <h3>Saeed Almoued</h3>
            <h4>Developer</h4>
        </div>
        <div class="sec-2 sec">
            <h3>Projects</h3>
            <h4>80</h4>
        </div>
        <div class="sec-3 sec">
            <h3>Earned</h3>
            <h4>22000$</h4>
        </div>
    </div>
    <button class="btn btn-primary">Profile</button>


</div>