<div class="header-container">
    <div class="header">
        <div class="navbar d-flex justify-content-between">
            <div class="search-box">
                <input type="text" placeholder="Type a keyword">
                <i class="fas fa-search"></i>
            </div>
            <div class="right-widget">
                <div class="d-flex user-info">
                    <div class="user-text">
                        <h3>Saeed Almoued</h3>
                        <h5>Developer</h5>
                    </div>
                    <div class="img-circle">
                        <img src="../../../assets/imgs/avatar.png" alt="">
                    </div>
                </div>

                <div class="noti">
                    <i class="fas fa-bell"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        5
                        <span class="visually-hidden">unread messages</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
</div>