@import '../../../assets/scss/variable.scss';
.header-container{
    height: 70px;
    position: relative;
    background-color: $white;
    .header{
        height: 70px;
        width: calc(100% - 200px);
        position: fixed;
        z-index: 20;
        left: 200px;
        top: 0;
        background-color: white;
        padding: 0 $padding;
        //box-shadow: $box-shadow;

        @media screen and (max-width:992px) {
            width:calc(100% - 60px);
            left: 60px;
        }
        .navbar{
            height: 100%;
            padding: 0;
            align-items: center;
            .sidebar-btn{
                border: none;
                outline: none;
                background-color: transparent;
                margin-right: 1rem;
            }
            .search-box{
                position: relative;
                input{
                    margin: 0;
                    font-family: inherit;
                    font-size: 14pz;
                    padding: 5px 5px 5px 30px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #ccc;
                    width: 150px;
                    &:hover,&:focus{
                        transition: all .3s width;
                        width: 200px;
                    }
                    @media screen and (max-width:768px) {
                        &:hover,&:focus{
                            width: 150px;
                        }
                    }
                }
                i{
                    position: absolute;
                    font-size: 14px;
                    color: #a1a1a1;
                    left: 20px;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .right-widget{
                margin-left: auto;
                display: flex;
                gap: 1.6rem;
                .user-info{
                    text-align: center;
                    display: flex;
                    gap: 1rem;


                    h3{
                        font-size: 14px;
                        @media screen and (max-width:768px) {
                            display: none !important;
                        }
                    }
                    h5{
                        font-size: 12px;
                        font-weight: 700;
                        @media screen and (max-width:768px) {
                            display: none !important;
                        }
                    }


                }
                img{
                    width: 45px;
                    height: 45px;
                }

                .noti{
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 10px 0 ;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}