<div class="latest-news-container bg-white p-3 rad-10">
    <h1>Latest News</h1>
    <ul>
        <li class="d-flex">
            <div class="img-box rad-6">
                <img src="assets/imgs/news-01.png" alt="" class="rad-6">
            </div>
            <div class="d-block">
                <h3>Created SASS Section</h3>
                <h4>New SASS Examples & Tutorials</h4>
            </div>
            <div class="date-box rad-6">
                <span>3 Days Ago</span>
            </div>
        </li>
        <li class="d-flex">
            <div class="img-box rad-6">
                <img src="assets/imgs/news-02.png" alt="" class="rad-6">
            </div>
            <div class="d-block">
                <h3>Changed The Design</h3>
                <h4>A Brand New Website Design</h4>
            </div>
            <div class="date-box rad-6">
                <span>5 Days Ago</span>
            </div>
        </li>
        <li class="d-flex">
            <div class="img-box rad-6">
                <img src="assets/imgs/news-03.png" alt="" class="rad-6">
            </div>
            <div class="d-block">
                <h3>Team Increased</h3>
                <h4>3 Developers Joined The Team</h4>
            </div>
            <div class="date-box rad-6">
                <span>7 Days Ago</span>
            </div>
        </li>
        <li class="d-flex">
            <div class="img-box rad-6">
                <img src="assets/imgs/news-04.png" alt="" class="rad-6">
            </div>
            <div class="d-block">
                <h3>Added Payment Gateway</h3>
                <h4>Many New Payment Gateways Added</h4>
            </div>
            <div class="date-box rad-6">
                <span>9 Days Ago</span>
            </div>
        </li>
    </ul>
</div>