@import '../assets/scss/variable.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    font-family: "Open Sans", sans-serif;
}



ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

h1{
    font-size: 1.5rem !important;
}

h2{
    font-size: 1rem !important;
    color: $gray;
}

h3{
    font-size: 16px !important;
}

h4 {
    font-size: 14px !important;
    color: $gray;
}

h5 {
    font-size: 15px !important;
}

.p-3{
    padding: 2rem !important;
}

.img-circle{
    //border-radius: 50%;
    //width: 50px;
    //height: 50px;
    display: flex;
}

.content-container{
    width: 100%;
}

.main-title{
    font-weight: 600;
    font-size: 2rem !important;
    position: relative;
    margin-bottom: 2rem;
    &::before{
        content: '';
        position: absolute;
        width: 150px;
        border: 3px solid $white;
        border-radius: 25px;
        bottom: -15px;
    }
    &::after{
        content: '';
        position: absolute;
        width: 60px;
        border: 3px solid $black;
        border-radius: 25px;
        bottom: -15px;
        left: 0;
    }
}

.align-center{
    align-items: center;
}

.right-center{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.ml-auto{
    margin-left: auto;
}
.border-thin{
    border: 1px solid #eee;
}

.border-bottom{
    border-bottom: 1px solid #eee;
}


.rad-10{
    border-radius: 10px;
}

.rad-6{
    border-radius: 6px;
}

.w-full{
    width: 100%;
}

.bg-orange{
    background-color: rgb(245 158 11 / 20%);

}
.bg-blue{
    background-color: rgb(0 117 255 / 20%);
}
.bg-green{
    background-color: rgb(34 197 94 / 20%);
}

.c-orange{
    color: #f59e0b;
}

.c-green{
    color: #22e55e;
}

.c-blue{
    color:#0075ff
}

/*********************************/
.before-orange{
    border-color: $c-orange !important;
    &::before,&::after{
        background-color: $c-orange !important;
    }
}

.before-blue{
    border-color: $c-blue !important;
    &::before,&::after{
        background-color: $c-blue !important;
    }
}

.before-green{
    border-color: $c-green !important;
    &::before,&::after{
        background-color: $c-green !important;
    }
}

.before-danger{
    border-color: $danger !important;
    &::before,&::after{
        background-color: $danger !important;
    }
}

.mybtn{
    border-radius: 6px;
    padding: 4px 8px;
    color: $white;
    outline: none;
}
.btn-blue{
    background: $c-blue !important;
}

.btn-green{
    background-color: $c-green !important;
}

.btn-danger{
    background-color: $danger !important;
}

.btn-orange{
    background-color: $c-orange !important;
}

.d-mobile{
    display: none;
    @media screen and (max-width:768px) {
        display: block;
    }
}

.menu-btn{
    display: none !important;
    @media screen and (max-width:992px) {
        display: block !important;
    }
}

.d-lg{
    @media screen and (max-width:768px) {
        display: none !important;
    }
}


/* page grid */
.page-container{
    padding: $padding;
    overflow: hidden;
    @media screen  and (max-width:768px){
            padding: $padding .5rem;
    }
    .page-grid{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        margin-top: 3rem;
        @media screen and (max-width:992px) {
            grid-template-columns: auto;

        }
    }

}

.mat-drawer-inner-container{
    overflow: hidden !important;
}
.mat-drawer-backdrop.mat-drawer-shown{
    background-color: transparent;
}
.mat-toolbar-row{
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 20;
}
.menu-btn{
    display: flex;
    background-color: transparent;
    border: 0;
    margin-right: 1rem;
}

.header-container{
    height: 70px;
    position: relative;
    background-color: $white;
    .header{
        height: 70px;
        width: calc(100% - 200px);
        position: fixed;
        z-index: 20;
        left: 200px;
        top: 0;
        background-color: white;
        padding: 0 $padding;
        box-shadow: $box-shadow;

        @media screen and (max-width:992px) {
            width:100%;
            left: 0px;
        }
        .navbar{
            height: 100%;
            padding: 0;
            align-items: center;
            .sidebar-btn{
                border: none;
                outline: none;
                background-color: transparent;
                margin-right: 1rem;
            }
            .search-box{
                position: relative;
                input{
                    margin: 0;
                    font-family: inherit;
                    font-size: 14pz;
                    padding: 5px 5px 5px 30px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #ccc;
                    width: 150px;
                    &::placeholder{
                        font-size: 12px;
                    }
                    &:hover,&:focus{
                        transition: all .3s width;
                        width: 200px;
                    }
                    @media screen and (max-width:768px) {
                        &:hover,&:focus{
                            width: 150px;
                        }
                    }
                }
                i{
                    position: absolute;
                    font-size: 14px;
                    color: #a1a1a1;
                    left: 20px;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .right-widget{
                margin-left: auto;
                display: flex;
                gap: 1.6rem;
                .user-info{
                    text-align: center;
                    display: flex;
                    gap: 1rem;
                    h3{
                        font-size: 14px !important;
                        @media screen and (max-width:768px) {
                            display: none !important;
                        }
                    }
                    h5{
                        font-size: 12px !important;
                        font-weight: 500;
                        color: $gray;
                        line-height: 0;
                        @media screen and (max-width:768px) {
                            display: none !important;
                        }
                    }


                }
                img{
                    width: 45px;
                    height: 45px;
                    margin: auto;
                }

                .noti{
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 10px 0 ;
                    i{
                        font-size: 20px;
                    }
                    span{
                        width: 20px;
                        height: 20px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.form-switch {
    position: relative;
    width: 80px;
    height: 35px;
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    #flexSwitchCheckChecked {
        width: 80px;
        height: 35px;
        margin: 0;
        padding: 0;
        outline: none;
        transition: .3s;
        cursor: pointer;
        &:focus{
            box-shadow: none;
        }
        &:not(:checked){
            background-color: #ccc;
        }
      }
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        right: 9px;
        color: $c-blue;
        display: none;
        transition: .3s;
      }
      .wrong-mark {
        display: none;
        right: 77px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        color: white;
        transition: .3s;
      }

  }