<div class="sidebar-container" id="sidebar">
    <div class="sidebar">
        <a style="cursor: pointer;text-decoration: none; color: black;" routerLink="/dashboard" routerLinkActive="active"  ariaCurrentWhenActive="page">
            <div class="logo">
                <h3>Admin Theme</h3>
                <h5 class="d-mobile mt-3">Admin</h5>
                <h5 class="d-mobile mb-3">Theme</h5>
            </div>
        </a>
        <ul class="mylist">
            <a href="#" class="" routerLink="/dashboard"  routerLinkActive="active"  ariaCurrentWhenActive="page">
                <i class="fas fa-chart-bar"></i>
                <span>Dashboard</span>
            </a>

            <a href="#" class="" routerLink="/setting" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-cog"></i>
                <span>Setting</span>
            </a>
            <a href="#" class="" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
            <a href="#" class="" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-project-diagram"></i>
                <span>Projects</span>
            </a>
            <a href="#" class="" routerLink="/courses" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-graduation-cap"></i>
                <span>Courses</span>
            </a>
            <a href="#" class="" routerLink="/friends" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="fas fa-users"></i>
                <span>Friends</span>
            </a>
            <a href="#" class="" routerLink="/files"  routerLinkActive="active"  ariaCurrentWhenActive="page">
                <i class="fas fa-file"></i>
                <span>Files</span>
            </a>
            <a href="#" class="" routerLink="/plans"  routerLinkActive="active"  ariaCurrentWhenActive="page">
                <i class="fas fa-credit-card"></i>
                <span>Plans</span>
            </a>
        </ul>
    </div>
</div>