<div class="general-info-container p-3 bg-white rad-10">
    <h1>General Info</h1>
    <h2>General Information About Your Account</h2>
    <form>
        <label>First Name</label>
        <input type="text" placeholder="First Name" class="form-input rad-6">
        <label>Last Name</label>
        <input type="text" placeholder="Last Name" class="form-input rad-6">
        <div class="d-grid">
            <div class="email-input">
                <label>Email</label>
                <input type="text" placeholder="@saeed.moued" class="form-input rad-6" disabled>
            </div>
            <button type="submit" >Change</button>
        </div>
    </form>
</div>