@import './../../../assets/scss/variable.scss';
.top-search-item-container{
    .search-details{
        padding: .75rem 0;
        .right-center{
            background-color: #eee;
            padding: 3px 8px;
            font-size: 13px !important;
        }

    }
    .title-box{
        h3{
            color: $gray !important;
            font-weight: $font-bold;
            align-items: center;
            &:last-child{
                margin-left: auto;
            }
        }
        border-bottom: 1px solid #eee;
    }

}