<div class="reminders-container bg-white rad-10 p-3">
    <h1>Reminders</h1>
    <ul>
        <li class="d-block before-orange">
            <h3>Check My Tasks List</h3>
            <h4>28/09/2022 - 12:00am</h4>
        </li>
        <li class="d-block before-blue">
            <h3>Check My Projects</h3>
            <h4>26/10/2022 - 12:00am </h4>
        </li>
        <li class="d-block before-green">
            <h3>Call All My Clients</h3>
            <h4>05/11/2022 - 12:00am </h4>
        </li>
        <li class="d-block before-danger">
            <h3>Finish The Development Workshop</h3>
            <h4>20/12/2022 - 12:00am </h4>
        </li>

    </ul>
</div>