<div class="project-card-container p-3 bg-white rad-10">
    <span class="date">15/10/2021</span>
    <h3>Elzero Dashboard</h3>
    <h4>Elzero Dashboard Project Design And Programming And Hosting</h4>
    <ul class="team">
        <li>
            <img src="./assets/imgs/team-01.png" alt="">
        </li>
        <li>
            <img src="./assets/imgs/team-02.png" alt="">
        </li>
        <li>
            <img src="./assets/imgs/team-03.png" alt="">
        </li>
        <li>
            <img src="./assets/imgs/team-04.png" alt="">
        </li>
    </ul>
    <ul class="tasks">
        <li>
            <span>Programming</span>
        </li>
        <li>
            <span>Design</span>
        </li>
        <li>
            <span>Hosting</span>
        </li>
        <li>
            <span>Marketing</span>
        </li>
    </ul>
    <div class="bottom-sec d-flex justify-content-between">
        <div class="myprogress"></div>
        <h4>$2500</h4>
    </div>
</div>