<div class="uni-container" >
    <div class="project-card-container p-3 bg-white rad-10" *ngFor="let project of porjectList">
        <span class="date">{{project.date}}</span>
        <h3>{{project.title}}</h3>
        <h4>{{project.desc}}</h4>
        <ul class="team">
            <li *ngFor="let person of project.team">
                <img src="./assets/imgs/team-0{{person}}.png" alt="">
            </li>
        </ul>
        <ul class="tasks">
            <li *ngFor="let task of project.tasks">
                <span>{{task}}</span>
            </li>

        </ul>
        <div class="bottom-sec d-flex justify-content-between">
            <div class="myprogress">
                <span [style.width.%]="project.progress"
                [ngClass]="{'border-danger' : project.progress < 50,'border-blue' :project.progress >= 50 && project.progress < 75,'border-green' :project.progress >= 75}"></span>
            </div>
            <h4>${{project.budget}}</h4>
        </div>
    </div>
</div>
