<div class="skills-container p-3 bg-white rad-10">
    <h1>My Skills</h1>
    <h4>Complete Skills List</h4>
    <ul>
        <li>
            <span>HTML</span>
            <span>Pugjs</span>
            <span>HAML</span>
        </li>
        <li>
            <span>CSS</span>
            <span>SASS</span>
            <span>Stylus</span>
        </li>
        <li>
            <span>JavaScript</span>
            <span>TypeScript</span>
        </li>
        <li>
            <span>Vuejs</span>
            <span>Reactjs</span>
            <span>Angular</span>
        </li>
        <li>
            <span>Jest</span>
            <span>Jasmine</span>
        </li>
        <li>
            <span>PHP</span>
            <span>Laravel</span>
        </li>
        <li>
            <span>Python</span>
            <span>Django</span>
        </li>
    </ul>
</div>