<div class="latest-upload-container p-3 rad-10 bg-white">
    <h1>Latest Uploads</h1>
    <div class="upload-box d-flex border-bottom">
        <img src="assets/imgs/pdf.svg" alt="" class="file-img">
        <div class="Title-box d-block">
            <h3>my-file.pdf</h3>
            <h4>Elzero</h4>
        </div>
        <span class="right-center rad-10">2.8mb</span>
    </div>
    <div class="upload-box d-flex border-bottom">
        <img src="assets/imgs/pdf.svg" alt="" class="file-img">
        <div class="Title-box d-block">
            <h3>My-Video-File.avi</h3>
            <h4>Admin</h4>
        </div>
        <span class="right-center rad-10">5.2mb</span>
    </div>
    <div class="upload-box d-flex border-bottom">
        <img src="assets/imgs/psd.svg" alt="" class="file-img">
        <div class="Title-box d-block">
            <h3>My-Psd-File.pdf</h3>
            <h4>Elzero</h4>
        </div>
        <span class="right-center rad-10">8.5mb</span>
    </div>
    <div class="upload-box d-flex">
        <img src="assets/imgs/sql.svg" alt="" class="file-img">
        <div class="Title-box d-block">
            <h3>my-Database.db</h3>
            <h4>MyShop</h4>
        </div>
        <span class="right-center rad-10">3.8mb</span>
    </div>
</div>