<div class="page-container">
    <h3 class="main-title">Dashboard</h3>
    <div class="page-grid">
        <app-welcome-box></app-welcome-box>
        <app-quick-draft></app-quick-draft>
        <app-yearly-targets></app-yearly-targets>
        <app-tickets-statistics></app-tickets-statistics>
        <app-latest-news></app-latest-news>
        <app-latest-tasks></app-latest-tasks>
        <app-top-search-item></app-top-search-item>
        <app-latest-upload></app-latest-upload>
        <app-last-project-progress></app-last-project-progress>
        <app-reminders></app-reminders>
        <app-latest-post></app-latest-post>
        <app-social-media-stats></app-social-media-stats>
    </div>
</div>