<div class="yearly-targets-container bg-white rad-10 p-3">
    <h1>Yearly Targets</h1>
    <h2>Target of the year</h2>
    <ul>
        <li class="sec sec-1">
            <div class="icon-square bg-blue"><i class="fas fa-dollar-sign c-blue"></i></div>
            <div class="details d-block w-full">
                <h3>Money</h3>
                <h3>$20.000</h3>
                <div class="position-relative">
                    <div class="myprogress">
                    </div>
                    <span class="precentage">25%</span>
                </div>
            </div>
        </li>
        <li class="sec sec-2">
            <div class="icon-square bg-green"><i class="fas fa-code c-green"></i></div>
            <div class="details d-block w-full">
                <h3>Projects</h3>
                <h3>24</h3>
                <div class="position-relative">
                    <div class="myprogress c-green">
                    </div>
                    <span class="precentage c-green">75%</span>
                </div>
            </div>
        </li>
        <li class="sec sec-3">
            <div class="icon-square bg-orange"><i class="fas fa-users c-orange"></i></div>
            <div class="details d-block w-full">
                <h3>Team</h3>
                <h3>12</h3>
                <div class="position-relative">
                    <div class="myprogress c-orange">
                    </div>
                    <span class="precentage c-orange">80%</span>
                </div>
            </div>
        </li>
    </ul>
</div>