<div class="files-statistics-container p-3 bg-white rad-10">
    <h1>Files Statistics</h1>
    <ul>
        <li>
            <i class=" fas fa-file-pdf c-danger"></i>
            <div class="info">
                <h3>PDF Files</h3>
                <h4>130</h4>
            </div>
            <span>6.5MB</span>
        </li>
        <li>
            <i class="far fa-image c-green"></i>
            <div class="info">
                <h3>Images</h3>
                <h4>80</h4>
            </div>
            <span>30.5MB</span>
        </li>
        <li>
            <i class="far fa-file-word c-blue"></i>
            <div class="info">
                <h3>Word Files</h3>
                <h4>12</h4>
            </div>
            <span>245MB</span>
        </li>
        <li>
            <i class="fas fa-file-csv c-orange"></i>
            <div class="info">
                <h3>CSV Files</h3>
                <h4>99</h4>
            </div>
            <span>13MB</span>
        </li>
    </ul>
</div>